fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
python-dotenv
mcp
sse-starlette
email-validator
bcrypt==4.0.1
bcrypt
pandas
openpyxl
